name: cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Shorten commit id
        run: echo "COMMITID=${GITHUB_SHA::6}" >> $GITHUB_ENV
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: docker.io/mehabadi/test:cicd-app-${{ env.COMMITID }}
  cd:
    needs: ci
    runs-on: self-hosted
    steps:
      - name: Install Argo CLI
        run: |
          curl -ksSL -o https://argocd-server.argocd/download/argocd-linux-amd64
          chmod +x argocd
          mv ./argocd /usr/local/bin/argocd

      - name: ArgoCD app sync
        run: | 
          argocd login argocd-server.argocd \
          --insecure \
          --username admin \
          --password ${{ secrets.ARGOCD_PASSWORD }}
      - name: ArgoCD sync app
        run: argocd 
