name: cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Shorten commit id
        run: echo "COMMITID=${GITHUB_SHA::6}" >> $GITHUB_ENV
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: docker.io/mehabadi/test:cicd-app-${{ env.COMMITID }}
    outputs: 
      commit_id: ${{ env.COMMITID }}
  cd:
    needs: ci
    runs-on: self-hosted
    steps:
      - name: Install yq
        run: |
          sudo curl -sSL -o /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_arm64
          sudo chmod +x /usr/local/bin/yq
      
      - name: Clone the repo
        uses: actions/checkout@v3
        
      - name: Modify values file
        run: |
          yq -i '.image.tag = "cicd-app-${{needs.ci.outputs.commit_id}}"' charts/python-app/values.yaml
      - name: Commit values changes
        uses: EndBug/add-and-commit@v9
        with: 
          message: 'Updates values.yaml with commit ${{needs.ci.outputs.commit_id}}'
      
      - name: Install Argo CLI
        run: |
          curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          sudo install -m 555 argocd-linux-amd64 /usr/local/bin/argocd
          rm argocd-linux-amd64

      - name: ArgoCD app sync
        run: | 
          argocd login argocd-server.argocd \
          --insecure \
          --username admin \
          --password ${{ secrets.ARGOCD_PASSWORD }}
      - name: ArgoCD sync app
        run: argocd app sync python-app
